@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

@layer utilities {
  div::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }
  
  div::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-none;
  }
  
  div::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: none;
    @apply bg-hover-background;
  }
}